<div class="container">
  <span class="header">Pizzaria Horácio</span>
    <div id="container_demo">
        <div id="wrapper">
          <div id="comanda">
              <h1>COMANDA</h1>
              <form class="mt-5" [formGroup]="formComanda" (ngSubmit)="onProcessar()">

                <p>
                  <label>Chopp</label>
                  <input type="text" name="inChopp" formControlName="chopp"/>
                </p>

                <p>
                    <label>Pizza</label>
                    <input type="text" name="inChopp" formControlName="Pizza"/>
                  </p>

                  <p>
                      <label>Recheio</label>
                      <input type="text" name="inChopp" formControlName="recheio"/>
                    </p>

                    <p>
                        <label>Pessoa</label>
                        <input type="text" name="inChopp" formControlName="pessoa"/>
                      </p>

                <p class="Keepcomanda">
                  <input type="checkbox" name="inServico" formControlName="taxaservico" />
                  <label>Taxa de serviço</label>
                  </p>

                  <p class="comanda button">
                    <input type="submit" value="Registrar"/>
                  </p>
                </form>

                <p class="about">Renan e Icaro</p>
          </div>
        </div>
    </div>
</div>